# Part 1 -  Does Renovation Effect House Price?

Here we will Ask 3 question:
    1. Does the house price go down as the age of the building increase?
    2. Does the the house price go down as time since renovation increases?
    3. If the house was not renovated:
           ->  Does the house price decrecre more than if it would have been renovated.

In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [2]:
df = pd.read_csv('kc_house_data_clean.csv')
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,day,month_year,price_bands
0,0,7.129301e+09,10/13/2014,221900.0,3.0,1.00,1180.0,5650.0,1.0,0.0,...,98178.0,47.5112,-122.257,1340.0,5650.0,2014.0,10.0,13.0,13-2014,200K to 300K
1,1,6.414100e+09,12/9/2014,538000.0,3.0,2.25,2570.0,7242.0,2.0,0.0,...,98125.0,47.7210,-122.319,1690.0,7639.0,2014.0,12.0,9.0,9-2014,500K to 600K
2,2,5.631500e+09,2/25/2015,180000.0,2.0,1.00,770.0,10000.0,1.0,0.0,...,98028.0,47.7379,-122.233,2720.0,8062.0,2015.0,2.0,25.0,25-2015,100K to 200K
3,3,2.487201e+09,12/9/2014,604000.0,4.0,3.00,1960.0,5000.0,1.0,0.0,...,98136.0,47.5208,-122.393,1360.0,5000.0,2014.0,12.0,9.0,9-2014,600K to 700K
4,4,1.954401e+09,2/18/2015,510000.0,3.0,2.00,1680.0,8080.0,1.0,0.0,...,98074.0,47.6168,-122.045,1800.0,7503.0,2015.0,2.0,18.0,18-2015,500K to 600K

## Add in Regresion Calculator

In [3]:
def mean_normalize(var):
    norm = []
    
    mean = sum(var)/len(var)
    
    for i in var:
        norm.append(i-mean)
    
    return norm

def dot_product(x, y):
    prodcut = 0
    
    for i in range(len(x)):
        prd = x[i]*y[i]
        prodcut += prd
    return prodcut

def covariance(var1, var2):
    n = len(var1)
    x = mean_normalize(var1)
    y = mean_normalize(var2)
    
    dot_product(x, y)
    
def correlation(var1, var2):
    
    if len(var1) != len(var2):
        return 'The lengths of both the lists should be equal.' 
    else: 
       
        mean_norm_var1 = mean_normalize(var1)
        mean_norm_var2 = mean_normalize(var2)
        
        var1_dot_var2 = dot_product(mean_norm_var1, mean_norm_var2)
        
        var1_squared = [i * i for i in mean_norm_var1]
        var2_squared = [i * i for i in mean_norm_var2]
        
        return round(var1_dot_var2 / math.sqrt(sum(var1_squared) * sum(var2_squared)), 2)

## Create:  "age" column

In [4]:
now = 2016

In [5]:
df['age'] = now - df['yr_built']

## Create: age since renovation column

In [ ]:
df['age_since_ren'] = now - df['yr_renovated']

In [ ]:
df['age_since_ren'].unique()

In [ ]:
df['age_since_ren'].head()

## Create a column Renovated Yes/No

In [ ]:
is_renovated = df['yr_renovated']
is_renovated.describe().apply(lambda x: format(x, 'f'))
temp = []
for ren in is_renovated:
    if ren > 0:
        temp.append(1)
    else:
        temp.append(0)
        
df['is_ren'] = temp

In [ ]:
df['is_ren'].unique()

# 1a. Data Frame - Renovated House's

Create a new DataFrame but just for houses which have been renovated

In [ ]:
df_ren = df.loc[df['yr_renovated'] != 0]

In [ ]:
df_ren.head()

In [ ]:
df_ren.shape

In [ ]:
sns.scatterplot(data=df_ren, x=df_ren['age'], y=df_ren['price'])

Just checking that all the renovated house have year built values.

In [ ]:
df_ren['yr_built'].unique()

### Calculating Correlation

What is the corelation between age since renovation & the price

In [ ]:
correlation(df_ren['age'], df_ren['price'])

# 1b. DataFrame - Non_Renovated House's

There was a house that it's year built was zero so it must be excluded from this data frame.

In [ ]:
df_non_ren = df.loc[(df['yr_renovated'] == 0) & (df['yr_built'] != 0)]

In [ ]:
df_non_ren.head()

In [ ]:
sns.scatterplot(data=df_non_ren, x=df_non_ren['age'], y=df_non_ren['price'])

### Calculating Correlation

What is the corelation between age if not renovated & the price

In [ ]:
correlation(df_non_ren['age'], df_non_ren['price'])

# Part 2 - Breaking the Houses Clasifications 

In this section we will be breaking down the houses into further catagorise and comapreing the non-renovated top the renovated in diffent metrics:

    2a. Price Bands
    2b. Number of Bedrooms
    2c. Number of Bathrooms
    2d. sqft_lot
    2e. sqft_living
    2f. Building Condition
    2g. Building Grade

### Create: DataFrame the excludes houses that have unknow build date

In [ ]:
df_known_build_date = df.loc[(df['yr_built'] != 0)]

### 2a. Price Band - Renovated

In [ ]:
sns.barplot(y=sorted(df_ren['price_bands']), x=df_ren['age']) # title="Price Bands to age of property"

In [ ]:
# df_ren.set_index(df_ren['price_bands'])

In [ ]:
sns.lmplot(data=df_known_build_date, x="age", y="price", hue="is_ren")

## Renovated - Bedrooms

In [ ]:
sns.barplot(x=df_ren['bedrooms'], y=df_ren['price'])